.container {
  width: 100vw;
  height: 100vh;

  .page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .topBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 20px;
      align-items: center;



      .searchView {
        flex: 6;
        display: flex;
        align-items: center;

        > i {
          margin-right: 10px;
        }

        > div:first-of-type {
          flex-grow: 1;
          input {
            font-size: 24px;
            width: 90%;
            outline: 0px;
            padding: 5px;
          }
        }

        div {
          z-index: 9999;
        }

        .searchResult {
          padding: 5px;
          border-bottom: 1px solid #EEE;
          cursor: pointer;

          .secondary {
            color: #999;
            margin-top: 5px;
            font-style: italic;
          }

        }
      }

      .infoButton {
        i {
          margin-right: 5px;
        }
        cursor: pointer;
      }
    }

    .mapView {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      flex-grow: 1;

      .mapViewInner {
        /* weird hack to make it work inside flexbox */
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  .infoView {
    position: absolute;
    width: 40%;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    color: white;
    top: 10%;
    left: 30%;
    right: 30%;
    z-index: 99999;
    text-align: center;

    a {
      color: white;
    }

    p {
      line-height: 1.4;
    }

    .closeBtn {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

  }

  .footer {
    color: white;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color:  rgba(0,0,0,0.8);

    .version {
      font-size: 14px;
      font-family: Courier;
    }
  }

}